/* Common Shared Style */

body{
    font-family: 'Open Sans', sans-serif;
  
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    /* width: 150px; */
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    padding: 15px 35px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* nav related Style    */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav > ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
}

nav li{
    margin-right: 50px;

}

nav a{
    text-decoration: none;
    color: #474747;
}
/* Header Related Style */

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.banner-greeting{
    color: var(--Dark-02, #474747);
    margin-bottom: 0px;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;   
}

.banner-title{
    color: var(--Dark-01, #181818);
    margin-top: 0px;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.banner .img{
    width: 350px;
    height: 450px;
}

.banner p{
    width: 585px;
    /* height: 60px; */
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    color: #757575;

}

.banner div{
    max-width: 500px;
}

/* Main Section Style */
main{
    display: flex;
    justify-content: space-around;
}

/* About Section Style */

.about{
    width: 1240px;
    height: 550px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-left: 230px;
    margin-right: 230px;
    
}

.section-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 169px;
    height: 48px; */
    padding-top: 40px;
}

.section-description{
    width: 827px;
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-left: 157px;
    margin-right: 157px;
}